* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.math-rapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  gap: 1rem;
}

.math-text {
  font-size: 1.9rem;
  font-weight: bold;
}

.calculator {
  width: 45%;
  height: auto;
  background-color: lightgray;
}

.result-cont {
  height: 10vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2%;
}

.result {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vh);
}

.item {
  box-shadow: 2px 2px rgb(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item0 {
  grid-column: 1/3;
}

.division {
  font-size: 1.5rem;
}

.color {
  background-color: darkorange;
  border: 1px solid #ccc;
}

h2 {
  margin-top: 10%;
}
