* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 85vh;
  border: 2px solid black;
  padding: 3%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}

.nav-brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: orangered;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.list {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.list-link {
  border-right: 2px solid black;
  padding-right: 0.5rem;
}

a:hover {
  color: rgb(255, 0, 21);
}

a:active {
  color: rgb(255, 0, 21);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-text {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.math-rapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  gap: 1rem;
}

.math-text {
  font-size: 1.9rem;
  font-weight: bold;
}

.calculator {
  width: 45%;
  height: auto;
  background-color: lightgray;
}

.result-cont {
  height: 10vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2%;
}

.result {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vh);
}

.item {
  box-shadow: 2px 2px rgb(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item0 {
  grid-column: 1/3;
}

.division {
  font-size: 1.5rem;
}

.color {
  background-color: darkorange;
  border: 1px solid #ccc;
}

.message {
  margin-top: 10%;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}
